@use '../../../../global/global' as *;

.div_left{
    width: 50%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
#title_master{
    width: 90%;
    font-size: 4em;
    font-family: $oswald;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
}
.color1{
    color: $color1;
}
