@use '../../global/global' as *;

.btn{
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 30px;
    font-weight: 500;

}
.action_container {
  align-items: center;
  justify-content: center;
  margin: 5vw 0;
}

.style1 {
  background-color: white;
  color: $color2;

  box-shadow: 0 0 1.2vw $color2;

  font-size: 20px;

  transition: color 300ms, background-color 300ms, box-shadow 500ms 100ms;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.4vw $color2;
    color: white;
    background-color: $color2;
  }
}


.center{
    justify-content: center;
    align-items: center;
}

