// Colors

$black: #0D0D0D;
$snow:  #FFFAFA;
$white: #FEFEFE;
$gray: #D9D9D9;

// Fonts

$oswald: "Oswald", sans-serif;
$roboto: "Roboto", sans-serif;
$makenosense: makenosense;
$youaremyevery: youaremyevery;


@font-face {
    font-family: makenosense;
    src: url(../../../static/assets/fonts/makenosense.otf);
}
@font-face {
    font-family: youaremyevery;
    src: url(../../../static/assets/fonts/youaremyevery.ttf);
}