@forward './classes';

// Colors
$black: #0D0D0D;
$snow:  #FFFAFA;
$white: #FEFEFE;
$gray: #D9D9D9;
$color1: #EA072F;
$color2: #B80626;
$color3: #6B0316;
$color4: #EE4F6C;
$color5: #6B2330;

// Fonts

$oswald: "Oswald", sans-serif;
$roboto: "Roboto", sans-serif;
