@use '../../../../global/abstract' as *;


#paragraph{
    text-transform: uppercase;
    text-align: justify;
}
#div_buttons{
    display: flex;
}
.flex_c{
    gap: 30px;
}

@media screen and (max-width: 480px) {
    #paragraph{
        font-size: 24px;
        margin: 20px 20px 10px 20px;
    }
    #div_buttons{
        width: 100%;
        justify-content: center;
    }
}